@charset "UTF-8";
@font-face {font-family: 'Sam3KRFont';src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Sam3KRFont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'PFStardust';src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff') format('woff');font-weight: normal;font-style: normal;}
table{
	width:800px;
	text-align:center;
	font-family:Sam3KRFont;
}
.postview{
	
}
.title{
	height:30px;
}